<!DOCTYPE HTML>
<html>
<head>
    <title> Приветствие </title>
</head>
<body>
<form action="{{ url_for('index') }}" method="get">
    <p>Имя: <input type=text name=username value={{name}}></p>
    <p>Пол:<br>
        <input type=radio name=gender value=w {% if gender == "w" %}checked{% endif %}> Ж <br>
        <input type=radio name=gender value=m {% if gender == "m" %}checked{% endif %}> M
    </p>
    <p>
    Образовательная программа:
    <select name=program>
        {% for i in range(len(program_list)) %}
        <option value={{i}} {% if program_list[i]==program %}selected{% endif %}>{{program_list[i]}}</option>
        {% endfor %}
    </select>
    </p>
    <p>
        Выберите дисциплины, которые Вы изучаете:<br>
        {% for i in range(len(subject_list)) %}
        <input type=checkbox name=subject[] value={{i}} {% if subject_list[i] in subjects_select %}checked{% endif %}>
        {{subject_list[i]}}<br>
        {% endfor %}
    </p>
    <p><input type=submit value=Отправить></p>
</form>
<form action="{{ url_for('index') }}" method="get">
    <p><input type=submit value=Очистить></p>
</form>

{% if form_sent %}
    {% if len(name) == 0 %}
        Введите имя, пожалуйста!
    {% else %}
        Привет,
        {% if gender == "m" %}
            студент
        {% elif gender == "w" %}
            студентка
        {% endif %}
        {{name}}!
        <p>
            Ваша образовательная программа: {{program}}.
        </p>
        <p>
            {% if len(subjects_select) == 0 %}
                Вы не изучаете никаких дисциплин
            {% else %}
                Вы изучаете дисциплины:
                {% for sub in subjects_select %}
                    <a href={{url_for('subject', sub=sub)}}>{{sub}}</a>{{", " if loop.index != len(subjects_select) else "."}}
                {% endfor %}
            {% endif %}
        </p>
    {% endif %}
{% endif %}
</body>
</html>
